<h1>確認画面</h1>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <!-- 確認画面でアップロードした画像を表示させるための記述 -->
  <p>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  </p>
  <p>
    <%= @picture.content %>
    <%= form.hidden_field :image_cache, size: :'300x300' %>
    <%= form.hidden_field :content %>
  </p>
  <p>
    <%= form.submit "投稿する" %>
  </p>
<% end %>

<%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
  <p>
    <%= form.hidden_field :image_cache %>
  </p>
  <p>
    <%= form.hidden_field :content %>
  </p>
  <p>
    <%= form.submit "戻る", name: "back" %>
  </p>
<% end %>