<!--<p id="notice"><%#= notice %></p>-->

<h1>投稿記事一覧</h1>

<table>
  <thead>
    <tr>
      <th>投稿記事</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="container">
    <% @pictures.each do |picture| %>
      <tr>
        <p>
          <td><%= image_tag picture.image.url, size: :'300x300' %></td>
        </p>
        <td><%= picture.content %></td>
        <td><%= picture.user.name %></td>

        <td><%= link_to '詳細',  picture, class: "btn btn-success" %></td>
        <td><%= link_to '編集', edit_picture_path(picture),class: "btn btn-success" %></td>
        <td><%= link_to '削除', picture, class: "btn btn-success", method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい記事を投稿する', new_picture_path %>